/* Styles for the body element */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.loading-screen {
  text-align: center;
  align-items: center;
}

.progress-container {
  width: 300px;
  height: 8px;
  background-color: #d5f0ff; /* Lightened version of the background color */
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.25s ease-out;
  margin: 0 auto; /* Center the progress bar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for the progress container */
}

/* Styles for the progress bar */
.progress-bar {
  display: block;
  height: 100%;
  background-color: #1a73e8; /* Contrasting color for progress */
  width: 50%; /* Adjust this value to simulate progress */
  border-radius: 10px 0 0 10px; /* Rounded corner on the left side */
}

/* Different widths with specific transition durations */
.progress-bar[data-width="20"] { transition: width 0.5s ease; }
.progress-bar[data-width="80"] { transition: width 1s ease; }
.progress-bar[data-width="100"] { transition: width 0.2s ease; }


/* CSS for a fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Keyframes for the fadeIn animation */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  60% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}